--
-- PostgreSQL database cluster dump
--

\restrict g3mKEbwthho0PlXbVlrmFgusbJkG68ahoX6FeVTYEvNNcrLZ4qndZrrp93vdZQ4

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE sutra_monitor;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:SWMl4myQmktw82AO2SS7UA==$uF26Hxhfo6BdcEuWCA3qjyJT9I/27Sm+jJKSxhjgy80=:1MJwiX2y7hXD90D8znUM5t7RtSklL3bc8hthjihmpRU=';

--
-- User Configurations
--








\unrestrict g3mKEbwthho0PlXbVlrmFgusbJkG68ahoX6FeVTYEvNNcrLZ4qndZrrp93vdZQ4

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict Bz824EnAg9PfIxr1JgwqYmE8EvqIdyZt7qPOfbw5HVifUnmIPRPyUcpMbs8Kvtt

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict Bz824EnAg9PfIxr1JgwqYmE8EvqIdyZt7qPOfbw5HVifUnmIPRPyUcpMbs8Kvtt
\connect template1
\restrict Bz824EnAg9PfIxr1JgwqYmE8EvqIdyZt7qPOfbw5HVifUnmIPRPyUcpMbs8Kvtt

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict Bz824EnAg9PfIxr1JgwqYmE8EvqIdyZt7qPOfbw5HVifUnmIPRPyUcpMbs8Kvtt
\connect template1
\restrict Bz824EnAg9PfIxr1JgwqYmE8EvqIdyZt7qPOfbw5HVifUnmIPRPyUcpMbs8Kvtt

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict Bz824EnAg9PfIxr1JgwqYmE8EvqIdyZt7qPOfbw5HVifUnmIPRPyUcpMbs8Kvtt

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict 1nFYGOB502CAqyY5BXPhRT2dtB43CsBtKMEFPw4zLvWDxhP8B1sf4Y9KrJegBod

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict 1nFYGOB502CAqyY5BXPhRT2dtB43CsBtKMEFPw4zLvWDxhP8B1sf4Y9KrJegBod
\connect postgres
\restrict 1nFYGOB502CAqyY5BXPhRT2dtB43CsBtKMEFPw4zLvWDxhP8B1sf4Y9KrJegBod

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict 1nFYGOB502CAqyY5BXPhRT2dtB43CsBtKMEFPw4zLvWDxhP8B1sf4Y9KrJegBod

--
-- Database "sutra_monitor" dump
--

--
-- PostgreSQL database dump
--

\restrict jqBhPgTNThoP3uFBPFaaXgKASYRJIf0L5FKGQUu0gt1uQsEARcapQANagTG2Wx9

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: sutra_monitor; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE sutra_monitor WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE sutra_monitor OWNER TO postgres;

\unrestrict jqBhPgTNThoP3uFBPFaaXgKASYRJIf0L5FKGQUu0gt1uQsEARcapQANagTG2Wx9
\connect sutra_monitor
\restrict jqBhPgTNThoP3uFBPFaaXgKASYRJIf0L5FKGQUu0gt1uQsEARcapQANagTG2Wx9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: commission_follows; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commission_follows (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    config_id uuid NOT NULL,
    commission_id uuid NOT NULL,
    enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.commission_follows OWNER TO postgres;

--
-- Name: discovery_hits; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.discovery_hits (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    config_id uuid NOT NULL,
    measure_id uuid NOT NULL,
    hit_type character varying(20) NOT NULL,
    rule_id uuid,
    score numeric(5,2),
    evidence text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    notification_status character varying(20) DEFAULT 'PENDING'::character varying NOT NULL,
    notification_sent_at timestamp without time zone
);


ALTER TABLE public.discovery_hits OWNER TO postgres;

--
-- Name: ingest_runs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingest_runs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    ended_at timestamp without time zone,
    status character varying(20) NOT NULL,
    measures_found integer DEFAULT 0,
    measures_new integer DEFAULT 0,
    measures_updated integer DEFAULT 0,
    error_message text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ingest_runs OWNER TO postgres;

--
-- Name: keyword_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.keyword_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    config_id uuid NOT NULL,
    keyword character varying(255) NOT NULL,
    enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.keyword_rules OWNER TO postgres;

--
-- Name: measure_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.measure_events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    measure_id uuid NOT NULL,
    event_type character varying(50) NOT NULL,
    title text NOT NULL,
    event_date date,
    url text,
    hash character varying(64) NOT NULL,
    first_seen_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.measure_events OWNER TO postgres;

--
-- Name: measure_updates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.measure_updates (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    measure_id uuid NOT NULL,
    update_type character varying(50) NOT NULL,
    summary text NOT NULL,
    captured_at timestamp without time zone DEFAULT now() NOT NULL,
    hash character varying(64) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.measure_updates OWNER TO postgres;

--
-- Name: monitor_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monitor_configs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    user_id uuid,
    email_notifications_enabled boolean DEFAULT true,
    email_frequency character varying(20) DEFAULT 'daily'::character varying,
    CONSTRAINT monitor_configs_email_frequency_check CHECK (((email_frequency)::text = ANY ((ARRAY['daily'::character varying, 'weekly'::character varying])::text[])))
);


ALTER TABLE public.monitor_configs OWNER TO postgres;

--
-- Name: pgmigrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pgmigrations (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    run_on timestamp without time zone NOT NULL
);


ALTER TABLE public.pgmigrations OWNER TO postgres;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pgmigrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pgmigrations_id_seq OWNER TO postgres;

--
-- Name: pgmigrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pgmigrations_id_seq OWNED BY public.pgmigrations.id;


--
-- Name: phrase_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.phrase_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    config_id uuid NOT NULL,
    phrase text NOT NULL,
    enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.phrase_rules OWNER TO postgres;

--
-- Name: sutra_commissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sutra_commissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    category character varying(50)
);


ALTER TABLE public.sutra_commissions OWNER TO postgres;

--
-- Name: sutra_measure_snapshots; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sutra_measure_snapshots (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    measure_id uuid NOT NULL,
    captured_at timestamp without time zone DEFAULT now() NOT NULL,
    source_url text NOT NULL,
    raw_html_path text,
    hash character varying(64) NOT NULL,
    change_type character varying(20),
    ingest_run_id uuid
);


ALTER TABLE public.sutra_measure_snapshots OWNER TO postgres;

--
-- Name: sutra_measures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sutra_measures (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero character varying(50) NOT NULL,
    titulo text NOT NULL,
    extracto text,
    comision_id uuid,
    fecha date,
    source_url text NOT NULL,
    hash character varying(64) NOT NULL,
    first_seen_at timestamp without time zone DEFAULT now() NOT NULL,
    last_seen_at timestamp without time zone DEFAULT now() NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.sutra_measures OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key character varying(50) NOT NULL,
    value text,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    name character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'user'::character varying NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    last_login_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: watchlist_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watchlist_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    config_id uuid NOT NULL,
    measure_id uuid,
    measure_number character varying(50),
    enabled boolean DEFAULT true,
    added_from character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.watchlist_items OWNER TO postgres;

--
-- Name: pgmigrations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pgmigrations ALTER COLUMN id SET DEFAULT nextval('public.pgmigrations_id_seq'::regclass);


--
-- Data for Name: commission_follows; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.commission_follows (id, config_id, commission_id, enabled, created_at) FROM stdin;
\.


--
-- Data for Name: discovery_hits; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.discovery_hits (id, config_id, measure_id, hit_type, rule_id, score, evidence, created_at, notification_status, notification_sent_at) FROM stdin;
\.


--
-- Data for Name: ingest_runs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: keyword_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.keyword_rules (id, config_id, keyword, enabled, created_at) FROM stdin;
5fa74cf9-7f52-4f81-8b1e-89ae6e6f333e	9104f4de-e018-4f5b-938d-77ec6d1fc4d3	luma	t	2026-02-09 02:58:18.343717
fbb553d1-8bc3-466a-bdb7-2e28fac4c272	9104f4de-e018-4f5b-938d-77ec6d1fc4d3	energia	t	2026-02-09 02:58:22.965348
\.


--
-- Data for Name: measure_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.measure_events (id, measure_id, event_type, title, event_date, url, hash, first_seen_at, created_at) FROM stdin;
\.


--
-- Data for Name: measure_updates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.measure_updates (id, measure_id, update_type, summary, captured_at, hash, created_at) FROM stdin;
\.


--
-- Data for Name: monitor_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.monitor_configs (id, created_at, updated_at, user_id, email_notifications_enabled, email_frequency) FROM stdin;
9104f4de-e018-4f5b-938d-77ec6d1fc4d3	2026-02-09 02:40:45.288377	2026-02-09 02:40:45.288377	661b46d7-9d7f-478d-8e27-b4a9fa9492c8	t	daily
\.


--
-- Data for Name: pgmigrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pgmigrations (id, name, run_on) FROM stdin;
1	1770253289000_init-schema	2026-02-08 23:13:34.152581
2	1770335247478_fix-varchar-limits	2026-02-08 23:13:34.152581
3	1770340000000_add-users-auth	2026-02-08 23:13:34.152581
4	1770524765572_add-notification-status-to-hits	2026-02-08 23:13:34.152581
5	1770529924214_add-smtp-to-monitor-configs	2026-02-08 23:13:34.152581
\.


--
-- Data for Name: phrase_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.phrase_rules (id, config_id, phrase, enabled, created_at) FROM stdin;
\.


--
-- Data for Name: sutra_commissions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sutra_measure_snapshots; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sutra_measure_snapshots (id, measure_id, captured_at, source_url, raw_html_path, hash, change_type, ingest_run_id) FROM stdin;
\.


--
-- Data for Name: sutra_measures; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (key, value, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password_hash, name, role, is_active, created_at, updated_at, last_login_at) FROM stdin;
661b46d7-9d7f-478d-8e27-b4a9fa9492c8	admin@sutramonitor.com	$2b$10$Ch7dXpUc6BqqUXuNRAn0JeEnR93N0XJiNhlFpfITWRFcecKdVyw6a	Admin User	admin	t	2026-02-08 23:13:34.152581+00	2026-02-08 23:13:34.152581+00	2026-02-09 04:02:32.22006+00
\.


--
-- Data for Name: watchlist_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.watchlist_items (id, config_id, measure_id, measure_number, enabled, added_from, created_at) FROM stdin;
fd19eb5c-6b11-431c-8d7b-6ed44d118fd6	9104f4de-e018-4f5b-938d-77ec6d1fc4d3	\N	PS1059	t	MANUAL	2026-02-09 02:49:17.801524
af705d19-2200-4e45-bdfe-ec94c50c0114	9104f4de-e018-4f5b-938d-77ec6d1fc4d3	\N	PS1062	t	MANUAL	2026-02-09 02:49:50.124931
\.


--
-- Name: pgmigrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pgmigrations_id_seq', 5, true);


--
-- Name: commission_follows commission_follows_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commission_follows
    ADD CONSTRAINT commission_follows_pkey PRIMARY KEY (id);


--
-- Name: discovery_hits discovery_hits_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_hits
    ADD CONSTRAINT discovery_hits_pkey PRIMARY KEY (id);


--
-- Name: ingest_runs ingest_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingest_runs
    ADD CONSTRAINT ingest_runs_pkey PRIMARY KEY (id);


--
-- Name: keyword_rules keyword_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keyword_rules
    ADD CONSTRAINT keyword_rules_pkey PRIMARY KEY (id);


--
-- Name: measure_events measure_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measure_events
    ADD CONSTRAINT measure_events_pkey PRIMARY KEY (id);


--
-- Name: measure_updates measure_updates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measure_updates
    ADD CONSTRAINT measure_updates_pkey PRIMARY KEY (id);


--
-- Name: monitor_configs monitor_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitor_configs
    ADD CONSTRAINT monitor_configs_pkey PRIMARY KEY (id);


--
-- Name: pgmigrations pgmigrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pgmigrations
    ADD CONSTRAINT pgmigrations_pkey PRIMARY KEY (id);


--
-- Name: phrase_rules phrase_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phrase_rules
    ADD CONSTRAINT phrase_rules_pkey PRIMARY KEY (id);


--
-- Name: sutra_commissions sutra_commissions_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_commissions
    ADD CONSTRAINT sutra_commissions_name_key UNIQUE (name);


--
-- Name: sutra_commissions sutra_commissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_commissions
    ADD CONSTRAINT sutra_commissions_pkey PRIMARY KEY (id);


--
-- Name: sutra_commissions sutra_commissions_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_commissions
    ADD CONSTRAINT sutra_commissions_slug_key UNIQUE (slug);


--
-- Name: sutra_measure_snapshots sutra_measure_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_measure_snapshots
    ADD CONSTRAINT sutra_measure_snapshots_pkey PRIMARY KEY (id);


--
-- Name: sutra_measures sutra_measures_numero_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_measures
    ADD CONSTRAINT sutra_measures_numero_key UNIQUE (numero);


--
-- Name: sutra_measures sutra_measures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_measures
    ADD CONSTRAINT sutra_measures_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: commission_follows unique_config_commission; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commission_follows
    ADD CONSTRAINT unique_config_commission UNIQUE (config_id, commission_id);


--
-- Name: watchlist_items unique_config_measure; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT unique_config_measure UNIQUE (config_id, measure_id);


--
-- Name: measure_events unique_event_hash; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measure_events
    ADD CONSTRAINT unique_event_hash UNIQUE (measure_id, hash);


--
-- Name: discovery_hits unique_hit; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_hits
    ADD CONSTRAINT unique_hit UNIQUE (config_id, measure_id, hit_type, rule_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlist_items watchlist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_pkey PRIMARY KEY (id);


--
-- Name: discovery_hits_config_id_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discovery_hits_config_id_created_at_idx ON public.discovery_hits USING btree (config_id, created_at);


--
-- Name: discovery_hits_config_id_created_at_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discovery_hits_config_id_created_at_index ON public.discovery_hits USING btree (config_id, created_at);


--
-- Name: discovery_hits_notification_status_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX discovery_hits_notification_status_index ON public.discovery_hits USING btree (notification_status);


--
-- Name: idx_monitor_configs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_monitor_configs_user_id ON public.monitor_configs USING btree (user_id) WHERE (user_id IS NOT NULL);


--
-- Name: keyword_rules_config_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX keyword_rules_config_id_idx ON public.keyword_rules USING btree (config_id);


--
-- Name: keyword_rules_config_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX keyword_rules_config_id_index ON public.keyword_rules USING btree (config_id);


--
-- Name: measure_updates_measure_id_captured_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX measure_updates_measure_id_captured_at_idx ON public.measure_updates USING btree (measure_id, captured_at);


--
-- Name: measure_updates_measure_id_captured_at_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX measure_updates_measure_id_captured_at_index ON public.measure_updates USING btree (measure_id, captured_at);


--
-- Name: sutra_measure_snapshots_measure_id_captured_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measure_snapshots_measure_id_captured_at_idx ON public.sutra_measure_snapshots USING btree (measure_id, captured_at);


--
-- Name: sutra_measure_snapshots_measure_id_captured_at_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measure_snapshots_measure_id_captured_at_index ON public.sutra_measure_snapshots USING btree (measure_id, captured_at);


--
-- Name: sutra_measures_comision_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measures_comision_id_idx ON public.sutra_measures USING btree (comision_id);


--
-- Name: sutra_measures_comision_id_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measures_comision_id_index ON public.sutra_measures USING btree (comision_id);


--
-- Name: sutra_measures_fecha_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measures_fecha_idx ON public.sutra_measures USING btree (fecha);


--
-- Name: sutra_measures_fecha_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measures_fecha_index ON public.sutra_measures USING btree (fecha);


--
-- Name: sutra_measures_hash_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measures_hash_idx ON public.sutra_measures USING btree (hash);


--
-- Name: sutra_measures_hash_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX sutra_measures_hash_index ON public.sutra_measures USING btree (hash);


--
-- Name: users_email_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_index ON public.users USING btree (email);


--
-- Name: commission_follows commission_follows_commission_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commission_follows
    ADD CONSTRAINT commission_follows_commission_id_fkey FOREIGN KEY (commission_id) REFERENCES public.sutra_commissions(id) ON DELETE CASCADE;


--
-- Name: commission_follows commission_follows_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commission_follows
    ADD CONSTRAINT commission_follows_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.monitor_configs(id) ON DELETE CASCADE;


--
-- Name: discovery_hits discovery_hits_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_hits
    ADD CONSTRAINT discovery_hits_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.monitor_configs(id) ON DELETE CASCADE;


--
-- Name: discovery_hits discovery_hits_measure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.discovery_hits
    ADD CONSTRAINT discovery_hits_measure_id_fkey FOREIGN KEY (measure_id) REFERENCES public.sutra_measures(id) ON DELETE CASCADE;


--
-- Name: keyword_rules keyword_rules_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.keyword_rules
    ADD CONSTRAINT keyword_rules_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.monitor_configs(id) ON DELETE CASCADE;


--
-- Name: measure_events measure_events_measure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measure_events
    ADD CONSTRAINT measure_events_measure_id_fkey FOREIGN KEY (measure_id) REFERENCES public.sutra_measures(id) ON DELETE CASCADE;


--
-- Name: measure_updates measure_updates_measure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.measure_updates
    ADD CONSTRAINT measure_updates_measure_id_fkey FOREIGN KEY (measure_id) REFERENCES public.sutra_measures(id) ON DELETE CASCADE;


--
-- Name: monitor_configs monitor_configs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitor_configs
    ADD CONSTRAINT monitor_configs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: phrase_rules phrase_rules_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.phrase_rules
    ADD CONSTRAINT phrase_rules_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.monitor_configs(id) ON DELETE CASCADE;


--
-- Name: sutra_measure_snapshots sutra_measure_snapshots_ingest_run_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_measure_snapshots
    ADD CONSTRAINT sutra_measure_snapshots_ingest_run_id_fkey FOREIGN KEY (ingest_run_id) REFERENCES public.ingest_runs(id) ON DELETE SET NULL;


--
-- Name: sutra_measure_snapshots sutra_measure_snapshots_measure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_measure_snapshots
    ADD CONSTRAINT sutra_measure_snapshots_measure_id_fkey FOREIGN KEY (measure_id) REFERENCES public.sutra_measures(id) ON DELETE CASCADE;


--
-- Name: sutra_measures sutra_measures_comision_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sutra_measures
    ADD CONSTRAINT sutra_measures_comision_id_fkey FOREIGN KEY (comision_id) REFERENCES public.sutra_commissions(id) ON DELETE SET NULL;


--
-- Name: watchlist_items watchlist_items_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.monitor_configs(id) ON DELETE CASCADE;


--
-- Name: watchlist_items watchlist_items_measure_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_items
    ADD CONSTRAINT watchlist_items_measure_id_fkey FOREIGN KEY (measure_id) REFERENCES public.sutra_measures(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT ALL ON SCHEMA public TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict jqBhPgTNThoP3uFBPFaaXgKASYRJIf0L5FKGQUu0gt1uQsEARcapQANagTG2Wx9

--
-- PostgreSQL database cluster dump complete
--

