# Environment
.env
.env.local

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# TypeORM
ormconfig.json
